@import 'reset';

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif, Georgia, 'Big Caslon';
  font-size: 1.6rem;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

:root {
  --intro-title-setup: {
    position: absolute;
    font-weight: bold;
    font-family: 'Helvetica neue';
    font-size: 8rem;
    letter-spacing: 1rem;
  }
}

/*  REUSABLE  */

.black_bold_italic {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
  font-family: 'Helvetica neue';
}

.quiz_margin {
  margin-bottom: 2rem;
}

/*  VIDEO  */

.video {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 19;

  & video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video_skip {
  position: absolute;
  z-index: 9;
  left: 85%;
  top: 90%;
}

/*  INTRO  */

.intro_container {
  height: 45.6rem;
  background-color: #f6f6f6;
}

.intro_michael {
  @apply --intro-title-setup;
  font-style: italic;
  font-size: 8rem;
  margin-top: -3.5rem;
  margin-right: 2rem;
  right: 0;
}

.intro_jackson {
  @apply --intro-title-setup;
  opacity: .1;
  transform: rotate(90deg);
  margin-top: 25rem;
}

.intro_text_container {
  width: 50rem;
  font-family: 'Helvetica neue';
  margin: 0 auto;
  padding-top: 15rem;
  font-weight: 300;
  font-style: italic;

  & p {
    font-size: 2rem;
    margin-bottom: 4rem;
    line-height: 2.5rem;

    & span {
      font-weight: bold;
    }
  }
}

/*  QUIZSTYLING  */

.quiz {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 15rem;
  height: 30rem;
}

/* App.jsx */

.quiz_div { width: 27vw; }

.quiz_title {
  color: #aa0816;
  font-family: 'Big Caslon';
  margin-bottom: 2rem;
  font-size: 4rem;
}

/* StartQuiz.jsx */

.start_quiz_text_and_button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.8rem;

  & button {
    margin-right: 5rem;
    width: 15rem;
    border: none;
    background-color: #aa0816;
    color: white;
    padding: 1rem 1.5rem;
    cursor: pointer;
  }
}

/* Question.jsx */

.answer {
  display: flex;
  margin-bottom: 1rem;
}

.answer_label {
  margin-bottom: 1rem;
  cursor: pointer;
}

.radio_button_label {
  margin-right: 1.5rem;

  & input {
    display: none;
  }

  & input + div {
    margin-top: .2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    border: .2rem solid black;
  }

  & input:checked + div {
    background-color: black;
  }
}

.question_tracking_div {
  display: flex;
  justify-content: left;
}

.question_tracker {
  width: 3rem;
  height: .3rem;
  margin-right: 1rem;
}

/* ScoreFeedback.jsx */

.your_quiz_score { margin-bottom: 2rem; }
